# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/MaxT/nbproject/private/
/MaxT/build/
~$T693_TMA4_Documentation_4206960_S1.docx
*.tmp

~$T693_TMA4_Documentation_4206960_S2.docx
